<div ng-controller="tenant.views.dashboard.index as vm">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Dashboard")</span> <small>@L("DashboardHeaderInfo")</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">

        </div>
    </div>

    <div class="note note-info note-bordered">
        <h3>@L("DashboardDemo_Note_Title")<span class="close" data-close="note"></span></h3>
        <p>
            @L("DashboardDemo_Note_Info")
        </p>
        <br />
        <h4>@L("LookingForMpaVersion")</h4>
        <p>
            <a href="@Url.Action("Index", "Home", new {area = "Mpa"})">
                @Html.Raw(L("DashboardNoteForMpaVersion"))
            </a>
        </p>
    </div>

    <div class="row margin-top-10">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-green-sharp">
                            <small class="font-green-sharp">R </small>18 900 089
                        </h3>
                        <small>TOTAL CONVERSIONS</small>
                    </div>
                    <div class="icon">
                        <i class="icon-pie-chart"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                        <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                            <span class="sr-only">76% Current Month to Target</span>
                        </span>
                    </div>
                    <div class="status">
                        <div class="status-title">
                            Current Month to Target
                        </div>
                        <div class="status-number">
                            76%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-red-haze">13 497 987</h3>
                        <small>INVOICED TO DATE</small>
                    </div>
                    <div class="icon">
                        <i class="icon-like"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                        <span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
                            <span class="sr-only">85% change</span>
                        </span>
                    </div>
                    <div class="status">
                        <div class="status-title">
                            Current Month to Target
                        </div>
                        <div class="status-number">
                            85%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-blue-sharp">32%</h3>
                        <small>Cost of Sales</small>
                    </div>
                    <div class="icon">
                        <i class="icon-basket"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                        <span style="width: 32%;" class="progress-bar progress-bar-success blue-sharp">
                            <span class="sr-only">32% grow</span>
                        </span>
                    </div>
                    <div class="status">
                        <div class="status-title">
                            Parts
                        </div>
                        <div class="status-number">
                            32%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2">
                <div class="display">
                    <div class="number">
                        <h3 class="font-purple-soft">95%</h3>
                        <small>FIRST TIME RIGHT</small>
                    </div>
                    <div class="icon">
                        <i class="icon-user"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                        <span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
                            <span class="sr-only">56% change</span>
                        </span>
                    </div>
                    <div class="status">
                        <div class="status-title">
                            CSA Score
                        </div>
                        <div class="status-number">
                            95%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">Sales Summary</span>
                        <span class="caption-helper hide">weekly stats...</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
                                <input type="radio" name="options" class="toggle" id="option1">Today
                            </label>
                            <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option2">Week
                            </label>
                            <label class="btn btn-transparent grey-salsa btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option2">Month
                            </label>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row list-separated">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="font-grey-mint font-sm">
                                Total Sales
                            </div>
                            <div class="uppercase font-hg font-red-flamingo">
                                18,960 <span class="font-lg font-grey-mint">k</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="font-grey-mint font-sm">
                                Revenue
                            </div>
                            <div class="uppercase font-hg font-green-haze">
                                4,760 <span class="font-lg font-grey-mint">k</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="font-grey-mint font-sm">
                                Overheads
                            </div>
                            <div class="uppercase font-hg font-purple">
                                11,760 <span class="font-lg font-grey-mint">k</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="font-grey-mint font-sm">
                                Growth - Yaar on Year
                            </div>
                            <div class="uppercase font-hg font-blue-sharp">
                                12% <span class="font-lg font-grey-mint">%</span>
                            </div>
                        </div>
                    </div>
                    <ul class="list-separated list-inline-xs hide">
                        <li>
                            <div class="font-grey-mint font-sm">
                                Total Sales
                            </div>
                            <div class="uppercase font-hg font-red-flamingo">
                                13,760 <span class="font-lg font-grey-mint">$</span>
                            </div>
                        </li>
                        <li>
                        </li>
                        <li class="border">
                            <div class="font-grey-mint font-sm">
                                Revenue
                            </div>
                            <div class="uppercase font-hg font-green-haze">
                                4,760 <span class="font-lg font-grey-mint">$</span>
                            </div>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <div class="font-grey-mint font-sm">
                                Expenses
                            </div>
                            <div class="uppercase font-hg font-purple">
                                11,760 <span class="font-lg font-grey-mint">$</span>
                            </div>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <div class="font-grey-mint font-sm">
                                Growth
                            </div>
                            <div class="uppercase font-hg font-blue-sharp">
                                9,760 <span class="font-lg font-grey-mint">$</span>
                            </div>
                        </li>
                    </ul>
                    <div id="sales_statistics" class="portlet-body-morris-fit morris-chart" style="height: 260px">
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>

        <div class="col-md-6 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart font-green-haze hide"></i>
                        <span class="caption-subject font-green-haze bold uppercase">Staff Activity</span>
                        <span class="caption-helper hide">weekly stats...</span>
                    </div>
                    <div class="actions">
                        <button class="btn btn-success btn-rounded" ng-click="vm.getMemberActivity()"><i class="fa fa-refresh"></i> Refresh</button>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row number-stats margin-bottom-30">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="stat-left">
                                <div class="stat-chart">
                                    <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                    <div id="totalMembersChart"></div>
                                </div>
                                <div class="stat-number">
                                    <div class="title">
                                        Total
                                    </div>
                                    <div class="number">
                                        2460
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="stat-right">
                                <div class="stat-chart">
                                    <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                    <div id="newMembersChart"></div>
                                </div>
                                <div class="stat-number">
                                    <div class="title">
                                        New
                                    </div>
                                    <div class="number">
                                        719
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <thead>
                                <tr class="uppercase">
                                    <th colspan="2">
                                        Staff Member
                                    </th>
                                    <th>
                                        Conversions
                                    </th>
                                    <th>
                                        Awaiting Authorizations
                                    </th>
                                    <th>
                                        Not Proceeding
                                    </th>
                                    <th>
                                        Retention Rate
                                    </th>
                                </tr>
                            </thead>
                            <tr>
                                <td class="fit">
                                    <img class="user-pic" src="~/metronic/assets/admin/layout4/img/avatar4.jpg">
                                </td>
                                <td>
                                    <a href="javascript:;" class="primary-link">Brain</a>
                                </td>
                                <td>
                                    345
                                </td>
                                <td>
                                    45
                                </td>
                                <td>
                                    124
                                </td>
                                <td>
                                    <span class="bold font-green-haze">80%</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="fit">
                                    <img class="user-pic" src="~/metronic/assets/admin/layout4/img/avatar5.jpg">
                                </td>
                                <td>
                                    <a href="javascript:;" class="primary-link">Nick</a>
                                </td>
                                <td>
                                    560
                                </td>
                                <td>
                                    12
                                </td>
                                <td>
                                    24
                                </td>
                                <td>
                                    <span class="bold font-green-haze">67%</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="fit">
                                    <img class="user-pic" src="~/metronic/assets/admin/layout4/img/avatar6.jpg">
                                </td>
                                <td>
                                    <a href="javascript:;" class="primary-link">Tim</a>
                                </td>
                                <td>
                                    1,345
                                </td>
                                <td>
                                    450
                                </td>
                                <td>
                                    46
                                </td>
                                <td>
                                    <span class="bold font-green-haze">98%</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="fit">
                                    <img class="user-pic" src="~/metronic/assets/admin/layout4/img/avatar7.jpg">
                                </td>
                                <td>
                                    <a href="javascript:;" class="primary-link">Tom</a>
                                </td>
                                <td>
                                    645
                                </td>
                                <td>
                                    50
                                </td>
                                <td>
                                    89
                                </td>
                                <td>
                                    <span class="bold font-green-haze">58%</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->


        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-cogs"></i>Work in Progress
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                        <a href="javascript:;" class="reload"> </a>
                        <a href="javascript:;" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> # </th>
                                    <th> Status </th>
                                    <th> Units </th>
                                    <th> Approved Values </th>
                                    <th> Running Cost of Sales </th>
                                    <th> Prior Day Balance </th>
                                    <th> Details </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1 </td>
                                    <td>Awaiting Quote </td>
                                    <td>74 </td>
                                    <td>958971 </td>
                                    <td>36% </td>
                                    <td>958871 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>2 </td>
                                    <td>Awaiting Authorization </td>
                                    <td>52 </td>
                                    <td>932661 </td>
                                    <td>36% </td>
                                    <td>932561 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>3 </td>
                                    <td>Autorised </td>
                                    <td>17 </td>
                                    <td>602589 </td>
                                    <td>36% </td>
                                    <td>602489 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>4 </td>
                                    <td>Booked </td>
                                    <td>93 </td>
                                    <td>422532 </td>
                                    <td>36% </td>
                                    <td>422432 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>5 </td>
                                    <td>Checked In </td>
                                    <td>74 </td>
                                    <td>523540 </td>
                                    <td>36% </td>
                                    <td>523440 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>6 </td>
                                    <td>Preliminary Conversion </td>
                                    <td>36 </td>
                                    <td>337750 </td>
                                    <td>36% </td>
                                    <td>337650 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>7 </td>
                                    <td>Converted </td>
                                    <td>44 </td>
                                    <td>650098 </td>
                                    <td>36% </td>
                                    <td>649998 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>8 </td>
                                    <td>Awaiting Parts </td>
                                    <td>83 </td>
                                    <td>648641 </td>
                                    <td>36% </td>
                                    <td>648541 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>9 </td>
                                    <td>Awaiting Panel </td>
                                    <td>27 </td>
                                    <td>596857 </td>
                                    <td>36% </td>
                                    <td>596757 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>10 </td>
                                    <td>Loaded </td>
                                    <td>63 </td>
                                    <td>825845 </td>
                                    <td>36% </td>
                                    <td>825745 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>11 </td>
                                    <td>Awaiting Panelbeating </td>
                                    <td>66 </td>
                                    <td>433480 </td>
                                    <td>36% </td>
                                    <td>433380 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>12 </td>
                                    <td>Panelbeating </td>
                                    <td>28 </td>
                                    <td>926786 </td>
                                    <td>36% </td>
                                    <td>926686 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>13 </td>
                                    <td>Awaiting Paint </td>
                                    <td>20 </td>
                                    <td>877421 </td>
                                    <td>36% </td>
                                    <td>877321 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>14 </td>
                                    <td>Paint </td>
                                    <td>100 </td>
                                    <td>537684 </td>
                                    <td>36% </td>
                                    <td>537584 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>15 </td>
                                    <td>Assembly </td>
                                    <td>90 </td>
                                    <td>56712 </td>
                                    <td>36% </td>
                                    <td>56612 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>16 </td>
                                    <td>Quality Control </td>
                                    <td>67 </td>
                                    <td>332086 </td>
                                    <td>36% </td>
                                    <td>331986 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>17 </td>
                                    <td>Ready </td>
                                    <td>61 </td>
                                    <td>583395 </td>
                                    <td>36% </td>
                                    <td>583295 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>18 </td>
                                    <td>Delivered </td>
                                    <td>18 </td>
                                    <td>846811 </td>
                                    <td>36% </td>
                                    <td>846711 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>19 </td>
                                    <td>Final Costing </td>
                                    <td>35 </td>
                                    <td>843991 </td>
                                    <td>36% </td>
                                    <td>843891 </td>
                                    <td>View </td>
                                </tr>
                                <tr>
                                    <td>20 </td>
                                    <td>Invoiced </td>
                                    <td>15 </td>
                                    <td>219048 </td>
                                    <td>36% </td>
                                    <td>218948 </td>
                                    <td>View </td>
                                </tr>


                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
       </div>
    </div>
