@using PanelMasterMVC5Separate.Tenants.Brokers
@using Abp.Web.Mvc.Extensions
<div class="row margin-bottom-5">
   

    <!-- END PAGE HEADER-->
    <form name="editVeform" ng-controller="host.views.AddEditVendor.index as vm" role="form" novalidate class="form-horizontal" action="#" id="submit_form" method="POST">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span ng-if="!vm.mainVendor.id">@L("AddVendor")</span>
                        <span ng-if="vm.mainVendor.id">@L("EditVendor")</span><small>more info about Broker</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light bordered">

                    <div class="tabbable-line boxless tabbable-reversed">
                        <div class="tab-content">

                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i>Fill vendor detail
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                        <a href="javascript:;" class="reload"> </a>
                                        <a href="javascript:;" class="remove"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->

                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Country</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-pencil"></i>
                                                    </span>
                                                    <select ng-model="vm.mainVendor.countryID" class="form-control input-circle-right" ng-options="opt.id as opt.name for opt in countryList" required>
                                                        <option value="">@L("SelectOne")</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Supplier Name</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-pencil"></i>
                                                    </span>
                                                    <input type="text" ng-model="vm.mainVendor.supplierName" ng-class="{'edited':vm.mainVendor.supplierName}" class="form-control input-circle-right" placeholder="Supplier Name" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Registration Number</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-registered"></i>
                                                    </span>
                                                    <input type="text" required ng-model="vm.mainVendor.registrationNumber" ng-class="{'edited':vm.mainVendor.registrationNumber}" class="form-control input-circle-right" placeholder="Registration">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Tax Registration Number</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-registered"></i>
                                                    </span>
                                                    <input type="text" required ng-model="vm.mainVendor.taxRegistrationNumber" ng-class="{'edited':vm.mainVendor.taxRegistrationNumber}" class="form-control input-circle-right" placeholder="Tax Registration">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button ng-disabled="vm.saving" type="reset" class="btn btn-default">@L("Cancel")</button>
                                                <button type="button" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="editVeform.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END FORM-->
                                </div>
                            </div>
                        </div>
                        <!-- END SAMPLE FORM PORTLET-->

                    </div>

                </div>
            </div>
        </div>

    </form>
</div>
