<div>
    <form name="userCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.job.id">@L("EditRepairType"): {{vm.job.description}}</span>
                <span ng-if="!vm.job.id">@L("ActivateRepairType") : {{vm.job.description}}</span>
            </h4>
        </div>
        <div class="modal-body">
            <uib-tabset class="tab-container tabbable-line">
                <uib-tab heading="@L("RepairTypeProperties")">
                      
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label>@L("Description")</label>
                        <input ng-model="vm.job.description" required name="description" class="form-control" type="text" />
                    </div>
                    
                </uib-tab>
                 
            </uib-tabset>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="userCreateOrEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>