@using PanelMasterMVC5Separate.Tenants.Claim
<div>
    <form name="userCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.job.id">@L("EditStatus"): {{vm.job.jobStatus}}</span>
                <span ng-if="!vm.job.id">@L("CreateStatus") : {{vm.job.jobStatus}}</span>
            </h4>
        </div>
        <div class="modal-body">
            <uib-tabset class="tab-container tabbable-line">
                <uib-tab heading="@L("JobStatusProperties")">

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label>@L("ShowSpeedbump")</label>
                        <select required class="form-control" ng-model="vm.job.showSpeedbump"
                                ng-options="opt.id as opt.name for opt in ddlList">
                            <option value="">@L("SelectOne")</option>
                        </select>
                    </div>
                     

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label>@L("ShowAwaiting")</label>
                        <select required class="form-control" ng-model="vm.job.showAwaiting"
                                ng-options="opt.id as opt.name for opt in ddlList">
                            <option value="">@L("SelectOne")</option>
                        </select>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label>@L("ShortOrder")</label>
                        <select required class="form-control" ng-model="vm.job.sortorder"
                                ng-options="opt.id as opt.name for opt in sortOrderList">
                            <option value="">@L("SelectOne")</option>
                        </select>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label>@L("JobstatusMask")</label>
                        <select required class="form-control" ng-model="vm.job.mask"
                                ng-options="opt.id as opt.name for opt in masksList">
                            <option value="">@L("SelectOne")</option>
                        </select>
                    </div>

                </uib-tab>
                 
            </uib-tabset>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="userCreateOrEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>